body {
  background-color: white;
  margin: 0;  /* Remove default margin */
  height: 100vh;  /* Ensure the body takes full viewport height */
  color: white;  /* Set text color to white for better contrast */
}
h1{
  text-align: center;
  color: red;
}